body {
    font-family: 'Gilmer', sans-serif;
    line-height: 1.6;
    color: #333;
}


footer {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

section {
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Changed to space-between */
}

.header-logo {
    width: 300px; /* Adjust as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px;
    margin: 20px;
}

.header-title {
    font-size: 2em; /* Adjust title size as necessary */
    text-align: center;
    flex-grow: 1; /* Allows the title to grow and use up available space */
    margin: 20px;
}

nav {
    color: #003366; /* This is a navy blue */
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

section {
    background-color: #fff;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
}

.author-affiliations span {
  font-weight: bold;
  color: #4169E1;
}

.author-affiliations a {
  text-decoration: none;
  color: #4169E1;
}

.affiliation {
  margin-top: 5px;
}

.emails {
  font-style: italic;
  margin-top: 5px;
}


.italic-text {
  font-style: italic;
}

.buttons {
  margin: 20px;
  text-align: center; /* This centers the inline-block elements */
}

.button {
  text-decoration: none;
  background-color: #4169E1; /* PolyU Red for buttons */
  color: white; /* White text */
  border: none;
  padding: 10px 20px; /* Size of the button */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Mouse cursor on hover */
  display: inline-block; /* Allows for text-align center to work */
  margin: 5px; /* Optional: adds space between the buttons */
}


.button:hover {
  background-color: #555; /* Lighter gray on hover */
}


pre {
  background-color: #f4f4f4; /* light grey background */
  border: 1px solid #ddd; /* light grey border */
  padding: 10px;
  border-radius: 10px;
}

code {
  font-family: 'Courier New', Courier, monospace; /* monospaced font */
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-right: 1px solid #dddddd; /* This adds the vertical line */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

